name: Build and Test

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4.2.2
      with:
        persist-credentials: false
    - uses: actions/setup-python@v5.3.0
      with:
        python-version: '3.14'
          # cache: 'pipenv' # caching pipenv dependencies
    - name: Install poetry and pipx
      run: |
        pip install pipx && pip install uv && pipx install uv && pipx install hatchling && uv sync

    - name: Run Makefile
      run: make check
